.TitleScreen {
    position: fixed;
    text-align: center;
    padding: 10px;
    background: #2C3531;
}


.Reveal {
    position: fixed;
    top: 2%;
    left: 80%;
    background-color: teal;
    padding: 10px;
    z-index: 1;
}

button:hover {
    background-color: turquoise;
}

h1 {
    width: 100%;
    border: 5px solid #212925;
    left: 0;
    top: 0;
    padding: 10px;
    z-index: 1;
    margin: 0;
    color: #D1E8E2
}

.sticker img {
    z-index: 2;
    position: fixed;
    width: 80px;
    height: 68px;
}

.banner img {
    position: relative;
    min-width: 100%;
    height: 400px;
    top: 68px;
}
