.TitleScreen {
    position: fixed;
    text-align: center;
    padding: 10px;
    background: violet;
}


.Reveal {
    position: fixed;
    top: 2%;
    left: 80%;
    background-color: teal;
    padding: 10px;
    z-index: 1;
}

button:hover {
    background-color: turquoise;
}

h1 {
    width: 100%;
    border: 5px solid rgb(207, 131, 207);
    left: 0;
    top: 0;
    padding: 10px;
    z-index: -1;
    margin: 0;
}
