<h1 style="margin-top: 20px">OUR GOAL, {{parentData | uppercase}} SCIENCE!</h1>

<p>
    This page is dedicated to providing its users with advice and future predictions grounded in 
    {{parentData}}Science. We firmly believe over our years in research that in order to become an informed
    human being, we must embrace {{parentData}}Science wholeheartedly. For generations now, we humans have lived
    in primitive settings surrounded by nature. However, we, the current generation of people will set a new standard
    of living. We will leverage our understanding of the universe to derive new meaningful life advice. Join us and 
    become a part of a phenomenon that will surely take the world by storm. We are <span>{{parentData}}SCIENCE</span>.
</p>

<div class = "slideshow middle"> 
    <div class = "slides">
        <input type="radio" name = "r" id = "r1" checked>
        <input type="radio" name = "r" id = "r2">
        <input type="radio" name = "r" id = "r3">
        <div class = "slide s1">
            <img src="assets/images/1.jpg" alt="">
        </div>
        <div class = "slide">
            <img src="assets/images/2.png" alt="">
        </div>
        <div class = "slide">
            <img src="assets/images/3.jpg" alt="">
        </div>
    </div>

    <div class="navigation">
        <label for="r1" class="bar"></label>
        <label for="r2" class="bar"></label>
        <label for="r3" class="bar"></label>
    </div>
</div>