h1 {
    color: dimgray;
    text-decoration: underline;
    margin-left: 40px;
}

p  {
    margin-left: 60px;
}

span {
    color: goldenrod;
    font-size: 1.2em;
    font-weight: bold;
}

.slideshow {
    width: 800px;
    height: 500px;
    overflow: hidden;
}

.middle {
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
}

.navigation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.bar {
    width: 50px;
    height: 10px;
    border: 2px solid gray;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
}

input[name="r"] {
    position: absolute;
    visibility: hidden;
}

.bar:hover {
    background: dimgray;
}

.slides {
    width: 400%;
    height: 100%;
    display: flex;
}

.slide {
    width: 25%;
    transition: 0.6s;
}

.slide img {
    width: 800px;
    height: 500px;
    object-fit: cover;
}

#r1:checked ~ .s1 {
    margin-left: 0%;
}

#r2:checked ~ .s1 {
    margin-left: -25%;
}

#r3:checked ~ .s1 {
    margin-left: -50%;
}


