<h1 style="margin-top: 20px">OUR GOAL, {{parentData | uppercase}} SCIENCE!</h1>

<p>
    This page is dedicated to providing its users with advice and future predictions grounded in 
    {{parentData}}Science. We firmly believe over our years in research that in order to become an informed
    human being, we must embrace {{parentData}}Science wholeheartedly. For generations now, we humans have lived
    in primitive settings surrounded by nature. However, we, the current generation of people will set a new standard
    of living. We will leverage our understanding of the universe to derive new meaningful life advice. Join us and 
    become a part of a phenomenon that will surely take the world by storm. We are <span>{{parentData}}SCIENCE</span>.
</p>

<div class = "slideshow">

</div>