
nav {
    margin: 0;
    position: sticky;
    top: 68px;
}

nav ul {
    margin: 0 auto;
    max-width: 100%;
    padding: 20px;
    display: inline-block;
    background-color: dimgray;
    text-align: center;
    width: 100%;

}

ul a {
    color: gold;   
    padding: 25px;
    text-align: center;
    width: 100%;
}

.UserOptions {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}

ul a:hover {
    color:yellow;
    font-size: 1.2em;
}