<nav>
    <ul class = "UserOptions">
        <a href="">Predict your day today</a> 
        <a href=""> {{parentData}} Scientific Anecdotes </a>
        <a href="">Meet our Team </a>
        <a href="">Contact Us </a>
    </ul>
</nav>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi facilis praesentium aut. A nemo incidunt ipsa iure error nam ab accusantium odit repellat consequuntur perferendis magni, ut quas voluptatem est. lorem</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, ea! Laudantium aut ipsum quos sint pariatur a dolores illum, nulla ipsa aliquid, provident dicta fuga! Amet iste voluptatum fugiat! Quaerat.</p>
<ol>
    <li>ELLO</li>
    <li>ELLO</li>
    <li>ELLO</li>
    <li>ELLO</li>
    <li>ELLO</li><li>ELLO</li>
    <li>ELLO</li>

    <li>ELLO</li>
        <li>ELLO</li>
        <li>ELLO</li>
        <li>ELLO</li>
        <li>ELLO</li>
        <li>ELLO</li>
        <li>ELLO</li>
        <li>ELLO</li>
        <li>ELLO</li>
        <li>ELLO</li>
        <li>ELLO</li>
        <li>ELLO</li>
        <li>ELLO</li>
        <li>ELLO</li>
        <li>ELLO</li>
        <li>ELLO</li>
        <li>ELLO</li>
        <li>ELLO</li>
        <li>ELLO</li>
        <li>ELLO</li>
        <li>ELLO</li>
        <li>ELLO</li>
        <li>ELLO</li>
        <li>ELLO</li>
        <li>ELLO</li>
        <li>ELLO</li>
        <li>ELLO</li>
        <li>ELLO</li>
        <li>ELLO</li>
        <li>ELLO</li>
        <li>ELLO</li>
        <li>ELLO</li>
        <li>ELLO</li>
        <li>ELLO</li>
        <li>ELLO</li>
        <li>ELLO</li>
        <li>ELLO</li>
        <li>ELLO</li>
        <li>ELLO</li>
        <li>ELLO</li>
    </ol>
