nav {
    margin-top: 50px;
    background-color:#116466;
    padding: 20px;
    position: sticky;
    top: 67px;
    left: 0;
    right: 0;
    width: 100%;
}

nav ul {
    margin: 0 auto;
    padding: 0;
    white-space: nowrap;
    max-width: 1200px;
    text-align: center;
}

nav a {
    color: rgb(255, 185, 35);
    margin: 0;
    padding: 0;
    width: 25%;
    display: inline-block;
    font-size: 24px;
}

nav a:hover {
    color:rgb(255, 238, 0);
    font-size: 2em;
}